<h1 class="mt-4">NodeJS chat</h1>
<% include ./partials/messages %>            
<div class="row mt-5">
  <div class="col-md-12 m-auto">
    <p class="lead mb-3">Welcome  <b id="username"><%= user.email  %></b></p>  
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    
    <div class="row">
      <div class="col-md-12 card card-body" id="message-container">

      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 mt-4">
        <form id="send-container">
          <textarea id="message-input" class="form-control" placeholder="Enter message" autofocus>
          </textarea>
          <div class="row">
            <div class="col-md-6">
              <button type="submit" id="send-button" class="btn btn-success mt-4">Send</button>
            </div>
            <div class="col-md-6">
              <a href="/users/logout" class="btn btn-secondary mt-4">Logout</a>
            </div>
          </div>
          
        </form>
      </div>
    </div>
    
  </div>
  
  <div class="col-md-4">
    chat rooms list!!
    <div class="row">
      <ul id="rooms-container">
        
      </ul>
    </div>
    <div class="row ml-4">
      <form id="rooms-form">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="room name" aria-label="room name" aria-describedby="basic-addon2" id="roomName">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Create new room</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<script defer src="../script.js"></script>

